# DB
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/test_backend
DB_ECHO=False
DB_ECHO_POOL=False
DB_POOL_SIZE=5
DB_MAX_OVERFLOW=10
DB_POOL_PRE_PING=True
DB_POOL_RECYCLE=600
DB_CREATE_RETRIES=10
DB_CREATE_RETRY_DELAY=2
ALLOW_DB_CREATE=1
POSTGRES_MAINTENANCE_DB=postgres

# BACKEND
DEBUG=False
SECRET_KEY=your_secret_key_here
ALLOWED_HOSTS=["localhost","127.0.0.1"]